// Custom.scss
// Option A: Include all of Bootstrap

// Variable overides first
$primary: #405B85;
$body-bg: #E5E8ED;

$success: #2F8500;
$info: #5E86C4;
$warning: #EBA000;
$danger: #D91200;


// Load bootstrap
@import "bootstrap/bootstrap";
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import "switches";

body {
	font-family: 'Open Sans', sans-serif;
}
hr {
	border-top: 1px solid #95989A;
}
.navbar {
	padding-top: 0;
	padding-bottom: 0;
	height: 50px;

	.navbar-nav {
		position: absolute;
		left: 300px;

		.nav-link {
			border-top: 5px solid $primary;
			border-bottom: 5px solid $primary;
			color: $white;
		}
		.nav-link:hover {
			background-color: #4C6C9E;
			color: $white;
			border-bottom: 5px solid #B7B7B7;
			border-top: 5px solid #4C6C9E;
		}

		.active {
			.nav-link {
				background-color: #F4F4F4;
				color: $primary;
				border-bottom: 5px solid #B7B7B7;
				border-top: 5px solid $white;
			}
		}
	}

	img {
		max-height: 35px;
	}

	.nav-user {
		margin-left: 15px;
	}

	.dropdown-menu {
		background-color: $primary;
		margin: 0;
		border: 0px solid $primary;

		.dropdown-item {
			color: $white;
		}

		.dropdown-item:hover {
			background-color: #4C6C9E;
		}

		.dropdown-divider {
			border-color: #95989A;
			margin: 0.5rem 1rem;
		}
	}
}

.navbar-brand {
	color: $white;
}

.navbar-brand:hover {
	color: $white;
}

.nav-pills {
	.nav-item:hover {
		background-color: #F4F4F4;
		border-radius: 4px;
	}
}

.side-nav {
	padding: 0 15px;
	padding-top: 50px;
	width: 300px;
	float: left;
	min-height: 100vh;
	background-color: #CAD1DB;

	img {
		width: 270px;
		padding: 15px 0;
	}
}

.content {
	padding-top: 65px;
	width: calc(100% - 315px);
	float: left;
	padding-left: 15px;
}

.row-gutters {
	padding-left: 100px;
	padding-right: 100px;
}

.material {
	box-shadow: 0 0.1em 0.5em rgba(0, 0, 0, 0.16);
}

.material-strong {
	box-shadow: 0 0.1em 0.8em rgba(0, 0, 0, 0.7);

}

.cops {
	font-family: 'Iceland';
	font-size: 6rem;
	color: $primary;
	text-shadow: 0 0.025em 0.1em rgba(0,0,0,0.4);
}

.tab-content {
	border: 1px solid $body-bg;
	padding: 15px;
}

.is-invalid {
	input {
		border-color: $danger;
	}
	input:focus {
		border-color: $danger;
		box-shadow: 0 0 0 0.2rem rgba(217, 18, 0, 0.25);
	}
	.invalid-feedback {
		display: block;
	}
}

.dropdown:hover > .dropdown-menu {
    display: block;
}

.dt-bootstrap4 {
	padding-left: 0;
	padding-right: 0;
}

.modal-icon {
	padding-left: 1.25rem;
}

/*This will keep Modals from causing the page to jump up when they open*/
body.modal-open {
    overflow: visible;
}

.btn-link {
	padding: 0;
}

.gtable-bg {
	background-color: $white;
}

.gtable-hover {
	background-color: $body-bg;
}

.gtable-select {
	background-color: #CAD1DB;
}
